.dashboard-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 413px) {
  h1 {
    font-size: 20px;
  }
}
