@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  background-image: url("./Assets/background_pic.png");
  background-repeat: repeat;
  overflow: hidden;
}

button,
button:active,
button:visited,
button:focus,
button:hover {
  cursor: pointer;
  border: none;
  outline: none;
}

a:active {
  transition: 200ms, ease;
}

@media screen and (max-width: 769px) {
  * body::-webkit-scrollbar {
    width: 4px;
  }

  body::-webkit-scrollbar-track {
    background: white;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #fec210;
    border-radius: 2px;
  }

  html {
    overflow-y: scroll;
  }
}
